<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${@environment.getProperty('spring.application.name')}"></title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <h1 class="title">MAKE YOUR URL SHORTER</h1>
    <form method="post" th:action="@{/short}">
        <div class="urlbar">
            <input name="url" type="text"/>
            <button type="submit">Shorten</button>
        </div>
    </form>
</div>
</body>
</html>
