@import url('https://fonts.googleapis.com/css?family=Alfa Slab One');

:root {
    --color1: #05386B;
    --color2: #379683;
    --color3: #5CDB95;
    --color4: #8EE4AF;
    --color5: #EDF5E1;
}

html {
    height: 98%;
}

body {
    margin: 0;
    width: inherit;
    height: inherit;
    background-color: var(--color3);
}

h1 {
    font-family: 'Alfa Slab One', Courier, monospace;
    font-weight: lighter;
    text-transform: uppercase;
}

.title {
    font-size: 80px;
}

.content {
    width: inherit;
    height: inherit;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: var(--color5);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.content form {
    height: 20%;
}


.urlBar {
    height: 3.8vh;
    display: flex;
    justify-content: center;
    background-color: var(--color2);
    padding: 15px;
}

.urlBar input {
    -webkit-box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.55);
    margin-right: 15px;
    width: 960px;
    color: var(--color2);
    font-weight: bold;
}

.urlBar button {
    border: none;
    border-radius: 5%;
    padding: 10px;
    font-weight: bold;
    background-color: var(--color5);
    color: var(--color2);
    font-family: Helvetica, sans-serif;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip > button {
    height: 100%;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: smaller;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
